# Quality Bot
The chat bot is designed to address inquiries related to **standard operating procedures, regulations, and guidelines
within an organization.** It serves as a resource for understanding the rules and practices that ensure efficient,
safe, and compliant operations across various departments such as facilities management, health and safety, operations,
and human resources. Relevant questions typically involve organizational standards, dress codes, procedural
justifications, or compliance-related inquiries.

## Core Functions:
* Provides instant access to quality-related procedures, compliance standards, and operational guidelines.
* Answers questions about dress codes, safety protocols, and procedural justifications.
* Helps users understand standardized cleaning, hygiene, and process regulations.
* Supports continuous learning by expanding to Unilever Quality Guidelines (UQG) in the future.

## Example Questions
* Run the pipeline end to end to update model results
* Create a model to analyse a product against a particular quality target
* Backup the database
* Apply for access to a role
*


Task waffle goes here