# Task Bot
The chat bot is designed to address inquiries related to all tasks available to the user in Clarama 2.0.

## Core Functions:
Samples, which contains samples of all common python activities, like dataframe manipulation,
charting, loading and saving files.
Help for Clarama 2.0 code
Requests for access
Database connections, sources
Data files like CSV, excel, parquet, pickles
The Machine Learning Pipeline called the Data Intelligence Service (DIS), which comprises of data ingestion,
data contextualization, feature generation and model generation.

## Example Questions
* Run the pipeline end to end to update model results
* Create a model to analyse a product against a particular quality target
* Backup the database
* Apply for access to a role
