You will be given an answer to the question "{{ original_question }}".

** ANSWER **
{{ answer }}

---

Your task is to determine three search queries to find relevant news.
These should be short and snappy web search queries.
Your queries should all mention that they are in a manufacturing area.
Focus on health and safety aspects in the answer to find news where the
given due process was not followed and things went wrong.

Output your three search queries each on a separate line.
Do not number the lines.
Do not include any introduction text.
Do not include any final remarks.
Just output the three search queries.