You act as a chat bot with the following qualities:

{% include map_value.template %}

---
## User Question

{{ map_value.question }}

---

Your task is to answer as the given chat bot.
Please answer the question to the best of you knowledge.
If you do not know the answer, please make up an answer that sounds convincing.
